@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format(".woff");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff") format(".woff");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff") format(".woff");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-[#F7F8FA] font-inter font-normal;
}

input {
  @apply outline-none;
}

.carousel-item {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("./assets/images/hero/hero_mobile_1x.webp");

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 1.5dppx) {
  .bg-img {
    background-image: url("./assets/images/hero/hero_mobile_2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .bg-img {
    background-image: url("./assets/images/hero/hero_tablet_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/hero/hero_tablet_2x.webp");
    }
  }
}

@media screen and (min-width: 1440px) {
  .bg-img {
    background-image: url("./assets/images/hero/hero_desktop_1x.webp");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 1.5dppx) {
    .bg-img {
      background-image: url("./assets/images/hero/hero_desktop_2x.webp");
    }
  }
}

.active {
  @apply text-white rounded-[24px] py-[8px] h-[30px] bg-[#59b17a] transition duration-300;
}

.link {
  @apply flex justify-center items-center rounded-[60px] border border-[#d9d9d9] shadow-lg h-[46px] bg-white font-normal text-[14px] leading-[1] text-[#93939a]  
  relative after:content-[''] after:absolute after:bottom-[-4px] lg:after:bottom-auto lg:after:right-[-4px] after:h-[4px] after:w-[15px] lg:after:h-[15px] lg:after:w-[5px] after:border-x lg:after:border-x-0 lg:after:border-y after:border-[#d9d9d9] after:bg-white after:z-[1] last:after:hidden no-underline;
}

.social-link {
  @apply flex justify-center items-center border border-[#f7f8fa7f] rounded-[10px] p-2 w-full h-full transition duration-300;

  &:hover,
  &:focus {
    @apply border-white shadow-md;
  }
}

.social-icon {
  @apply fill-[#D7EAE0] group-hover:fill-white group-focus:fill-white transition duration-300;
}

.logo {
  @apply font-semibold text-[16px] md:text-[20px] leading-[1.2] tracking-[-0.03em];
}

.link-footer {
  @apply font-normal text-[14px] leading-[1] text-[#f7f8fa] border border-transparent rounded-[30px] py-2.5 transition duration-500;

  &:hover,
  &:focus {
    @apply text-white border border-white shadow-shadow-link;
  }

  &.active {
    @apply text-white shadow-shadow-link bg-transparent border border-white;
  }
}

.link-stock {
  @apply font-normal text-[13px] text-[#93939a] leading-[1.4] ml-[18px] border border-transparent bg-transparent rounded-[30px] px-2.5 py-2 transition duration-300;

  &:hover,
  &:focus {
    @apply text-[#59b17a] underline border-[#59b17a] shadow-shadow-link;
  }
}

.description {
  @apply font-normal text-[14px] md:text-[16px] leading-[1.29] md:leading-[1.25] text-[#f7f8fa];
}

.button {
  @apply font-normal text-[14px] leading-[1] bg-transparent transition duration-500;
}

.btn-home {
  @apply text-[#f1f1f1] border-[#f1f1f180];

  &:hover,
  &:focus {
    @apply text-white border-white shadow-md;
  }
}

.btn-next {
  @apply text-[#59b17a] border-[#59b17a] hover:text-[#3f945f] focus:text-[#3f945f] hover:border-[#3f945f] focus:border-[#3f945f] focus:shadow-xl hover:shadow-xl;
}

.ul-border {
  @apply relative pt-[20px] md:pt-[32px] lg:pt-[40px] before:absolute before:top-0 before:left-0 before:right-0 before:border-t before:border-[#f7f8fa4c] before:z-[1];
}

.li-home {
  @apply bg-[#fdfdfd] border-[1.15px] border-[#f1f1f1] rounded-[27px] py-[14px] px-[18px] h-[126px] md:w-[321px] md:h-[167px] font-medium text-[16px] md:text-[20px] leading-[1.4] text-[#252539] shadow-shadow-box;
}

.span-home {
  @apply flex items-center justify-center w-[54px] h-[54px] md:w-[74px] md:h-[74px] rounded-[50%] bg-[#e7f1ed66] font-normal text-[24px] md:text-[28px] leading-[1] text-center text-[#59b17a];
}
